#Coursera Capstone Week 4 - Optimal Business Location Problem
##1. Problem Description:
In this week 4 project, the objective is the find the optimal location for a chinese restaurant in the Madrid city, Spain. Chiese immigrant population has been growing dramatically during the past decade and now become the second largets ethnic group in Madrid city. A new Chinese restaurant based on the local population and country of origin will be a good business opportunity. An analytical approach will be used based on data analysis, machine learning algorithms including clustering and finally some data visualization tools. Data acquisition and transformation will be performed for the further analysis using machine learnign algorithms. The analytical model will provide an optimal location candidates to open a Chinese restaurant. 

##2. Data Description: 
The [Madrid city hall's website](https://www.madrid.es) provides valuable data sources in excel format. The data contains the immigration information such as the country of procedence and nationality. This data will be used to determine the optimal location for opening a new Chinese restaurants. 
Foursquare API will be accessed through Python to obtain the most common venues per neighborhood in Madrid, such as the distribution of venues, common places for locals, and also popular spots. 

##3. Data Acquisition and Transformation:

In [19]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()

Saving madrid.xls to madrid (1).xls

In [29]:
df = pd.read_excel('madrid.xls', sheet_name = 'sheet1', skiprows=12)
df.head()

   Unnamed: 0                  Unnamed: 1  ...  Unnamed: 22  Unnamed: 23
0         NaN                     Rumanía  ...       2929.0        661.0
1         NaN  China                       ...        972.0        190.0
2         NaN  Ecuador                     ...       1015.0        138.0
3         NaN  Venezuela                   ...       1486.0        314.0
4         NaN  Colombia                    ...       1282.0        258.0

[5 rows x 24 columns]

In [30]:
df.drop(columns = ['Unnamed: 0'], inplace = True)
df.columns = ['Country of Origin', 'Total', 'Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'Chamartin',
                'Tetuán', 'Chamberí', 'Fuencarral-El Pardo', 'Moncloa-Aravaca', 'Latina', 'Carabanchel',
                'Usera', 'Puente de Vallecas', 'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde',
                'Villa de Vallecas', 'Vicálvaro', 'San Blas-Canillejas', 'Barajas']
df.head(10)

            Country of Origin    Total  ...  San Blas-Canillejas  Barajas
0                     Rumanía  45036.0  ...               2929.0    661.0
1  China                       37276.0  ...                972.0    190.0
2  Ecuador                     23953.0  ...               1015.0    138.0
3  Venezuela                   23359.0  ...               1486.0    314.0
4  Colombia                    22618.0  ...               1282.0    258.0
5  Marruecos                   21909.0  ...                649.0    333.0
6  Italia                      20308.0  ...                786.0    337.0
7                        Perú  18829.0  ...                810.0    106.0
8  Paraguay                    18682.0  ...                581.0    151.0
9  República Dominicana        17511.0  ...                889.0    103.0

[10 rows x 23 columns]

In [31]:
df.dtypes

Country of Origin       object
Total                  float64
Centro                 float64
Arganzuela             float64
Retiro                 float64
Salamanca              float64
Chamartin              float64
Tetuán                 float64
Chamberí               float64
Fuencarral-El Pardo    float64
Moncloa-Aravaca        float64
Latina                 float64
Carabanchel            float64
Usera                  float64
Puente de Vallecas     float64
Moratalaz              float64
Ciudad Lineal          float64
Hortaleza              float64
Villaverde             float64
Villa de Vallecas      float64
Vicálvaro              float64
San Blas-Canillejas    float64
Barajas                float64
dtype: object